In [1]:
import numpy as np
import pandas as pd
import datetime

In [2]:
Happ_15 = "2015.csv"
Happ_16 = "2016.csv"
Happ_17 = "2017.csv"
Happ_18 = "2018.csv"
Happ_19 = "2019.csv"

In [3]:
H15_df = pd.read_csv(Happ_15)
H16_df = pd.read_csv(Happ_16)
H17_df = pd.read_csv(Happ_17)
H18_df = pd.read_csv(Happ_18)
H19_df = pd.read_csv(Happ_19)

In [24]:
H15_df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [5]:
H15_rename = H15_df.rename(columns = {"Happiness Score":"Happiness Score 2015","Happiness Rank":"Happiness Rank 2015"})

In [6]:
H16_rename = H16_df.rename(columns = {"Happiness Score":"Happiness Score 2016","Happiness Rank":"Happiness Rank 2016"})

In [7]:
H17_rename = H17_df.rename(columns = {"Happiness.Score":"Happiness Score 2017","Happiness.Rank":"Happiness Rank 2017"})

In [8]:
H18_rename = H18_df.rename(columns = {"Score":"Happiness Score 2018","Country or region":"Country","Overall rank":"Happiness Rank 2018"})

In [10]:
H19_rename = H19_df.rename(columns = {"Score":"Happiness Score 2019","Country or region":"Country","Overall rank":"Happiness Rank 2019"})

In [11]:
H15_final = H15_rename[['Country','Happiness Score 2015','Happiness Rank 2015']]

In [12]:
H16_final = H16_rename[['Country','Happiness Score 2016','Happiness Rank 2016']]

In [13]:
H17_final = H17_rename[['Country','Happiness Score 2017','Happiness Rank 2017']]

In [14]:
H18_final = H18_rename[['Country','Happiness Score 2018','Happiness Rank 2018']]

In [15]:
H19_final = H19_rename[['Country','Happiness Score 2019','Happiness Rank 2019']]

In [16]:
Merge_15_16 = pd.merge(H15_final, H16_final, on='Country', how= 'outer')

In [17]:
Merge_15_16_V2 = pd.merge(H15_final, H16_final, on='Country', how= 'outer')

In [18]:
Merge_15_16_V2

,Country,Happiness Score 2015,Happiness Rank 2015,Happiness Score 2016,Happiness Rank 2016
0,Switzerland,7.587,1.0,7.509,2.0
1,Iceland,7.561,2.0,7.501,3.0
2,Denmark,7.527,3.0,7.526,1.0
3,Norway,7.522,4.0,7.498,4.0
4,Canada,7.427,5.0,7.404,6.0
...,...,...,...,...,...
159,Belize,NaN,NaN,5.956,52.0
160,Somalia,NaN,NaN,5.440,76.0
161,Somaliland Region,NaN,NaN,5.057,97.0
162,Namibia,NaN,NaN,4.574,113.0
163,South Sudan,NaN,NaN,3.832,143.0

In [19]:
Merge_15_16_17 = pd.merge(Merge_15_16_V2, H17_final, on='Country', how= 'outer')

In [20]:
Merge_15_16_17_18 = pd.merge(Merge_15_16_17, H18_final, on='Country', how= 'outer')

In [21]:
Merge_final = pd.merge(Merge_15_16_17_18, H19_final, on='Country', how= 'outer')

In [22]:
Merge_final

,Country,Happiness Score 2015,Happiness Rank 2015,Happiness Score 2016,Happiness Rank 2016,Happiness Score 2017,Happiness Rank 2017,Happiness Score 2018,Happiness Rank 2018,Happiness Score 2019,Happiness Rank 2019
0,Switzerland,7.587,1.0,7.509,2.0,7.494,4.0,7.487,5.0,7.480,6.0
1,Iceland,7.561,2.0,7.501,3.0,7.504,3.0,7.495,4.0,7.494,4.0
2,Denmark,7.527,3.0,7.526,1.0,7.522,2.0,7.555,3.0,7.600,2.0
3,Norway,7.522,4.0,7.498,4.0,7.537,1.0,7.594,2.0,7.554,3.0
4,Canada,7.427,5.0,7.404,6.0,7.316,7.0,7.328,7.0,7.278,9.0
...,...,...,...,...,...,...,...,...,...,...,...
165,"Hong Kong S.A.R., China",NaN,NaN,NaN,NaN,5.472,71.0,NaN,NaN,NaN,NaN
166,Trinidad & Tobago,NaN,NaN,NaN,NaN,NaN,NaN,6.192,38.0,6.192,39.0
167,Northern Cyprus,NaN,NaN,NaN,NaN,NaN,NaN,5.835,58.0,5.718,64.0
168,North Macedonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.274,84.0
169,Gambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.516,120.0

In [23]:
Merge_final.to_csv("HappinessReport_Merged.csv", index=False, header = True)