In [1]:
from sklearn import tree
import pandas as pd
import os

In [2]:
# SQL Alchemy
from sqlalchemy import create_engine

In [3]:
# Create Engine for employee db
#engine = create_engine('postgres://sxwlsbsllohawb:4723d0dab89d2da6bf1aae12930fd6865874a185e4e4dca60e5af580ccd1a185@ec2-52-200-48-116.compute-1.amazonaws.com:5432/d7shhrp5hdjs4d')
engine = create_engine('postgresql://swain:db@localhost:5432/world_happiness')
connection = engine.connect()

In [4]:
indicators_df = pd.read_sql("SELECT * from table9_2017", connection)
                              
indicators_df.head()

,countryname,indicatorname,year_2017,target_groups
0,Afghanistan,"Birth rate, crude (per 1,000 people)",33.211000,Very Sad
1,Afghanistan,Employment in agriculture (% of total employme...,43.988998,Very Sad
2,Afghanistan,"Employment in agriculture, female (% of female...",66.218002,Very Sad
3,Afghanistan,"Employment in industry, female (% of female em...",24.278999,Very Sad
4,Afghanistan,"Employment in services, female (% of female em...",9.504000,Very Sad

In [5]:
pivot_df = indicators_df.pivot(index='countryname', columns='indicatorname', values='year_2017')

In [6]:
pivot_df.head()

indicatorname,"Birth rate, crude (per 1,000 people)",Employment in agriculture (% of total employment) (modeled ILO estimate),"Employment in agriculture, female (% of female employment) (modeled ILO estimate)","Employment in industry, female (% of female employment) (modeled ILO estimate)","Employment in services, female (% of female employment) (modeled ILO estimate)","Employment to population ratio, 15+, male (%) (modeled ILO estimate)",Fixed telephone subscriptions (per 100 people),GDP per capita (current US$),GDP per capita growth (annual %),"Incidence of tuberculosis (per 100,000 people)",...,Lifetime risk of maternal death (%),Mobile cellular subscriptions (per 100 people),"Mortality rate, infant (per 1,000 live births)",Net migration,Rural population (% of total population),Secure Internet servers (per 1 million people),"Survival to age 65, female (% of cohort)","Survival to age 65, male (% of cohort)","Tuberculosis case detection rate (%, all forms)",Urban population (% of total population)
countryname,,,,,,,,,,,,,,,,,,,,,
Afghanistan,33.211,43.988998,66.218002,24.278999,9.504000,66.950996,0.327222,556.302002,0.082079,189.0,...,3.063593,65.929134,49.5,-314602.0,74.750,43.447835,67.574376,60.950303,68.0,25.250
Albania,11.934,38.203999,42.542000,15.132000,42.325001,55.379002,8.554284,4531.020806,3.897711,20.0,...,0.026286,125.710352,8.0,-69998.0,40.617,443.020376,91.145395,84.702788,87.0,59.383
Algeria,24.846,10.160000,3.841000,24.360001,71.799004,60.862000,9.908341,4044.276600,-0.750500,70.0,...,0.368716,110.767246,20.6,-50002.0,27.948,63.325702,85.829405,81.889538,80.0,72.052
Angola,41.281,50.557999,56.988998,1.134000,41.877998,73.719002,0.540199,4095.812942,-3.409903,359.0,...,1.451251,44.686107,53.4,32066.0,35.161,10.799300,63.665746,50.634695,51.0,64.839
Argentina,17.205,0.059000,0.015000,9.166000,90.819000,67.257004,22.177975,14591.863380,1.609282,27.0,...,0.091957,140.877124,9.3,24000.0,8.251,1628.591391,86.900558,76.722114,87.0,91.749

In [7]:
pivot_df=pivot_df.dropna(how='any')

In [8]:
pivot_df.count()

indicatorname
Birth rate, crude (per 1,000 people)                                                             149
Employment in agriculture (% of total employment) (modeled ILO estimate)                         149
Employment in agriculture, female (% of female employment) (modeled ILO estimate)                149
Employment in industry, female (% of female employment) (modeled ILO estimate)                   149
Employment in services, female (% of female employment) (modeled ILO estimate)                   149
Employment to population ratio, 15+, male (%) (modeled ILO estimate)                             149
Fixed telephone subscriptions (per 100 people)                                                   149
GDP per capita (current US$)                                                                     149
GDP per capita growth (annual %)                                                                 149
Incidence of tuberculosis (per 100,000 people)                                                   149
Individuals using the Internet (% of population)                                                 149
Labor force participation rate, total (% of total population ages 15+) (modeled ILO estimate)    149
Life expectancy at birth, female (years)                                                         149
Life expectancy at birth, male (years)                                                           149
Life expectancy at birth, total (years)                                                          149
Lifetime risk of maternal death (%)                                                              149
Mobile cellular subscriptions (per 100 people)                                                   149
Mortality rate, infant (per 1,000 live births)                                                   149
Net migration                                                                                    149
Rural population (% of total population)                                                         149
Secure Internet servers (per 1 million people)                                                   149
Survival to age 65, female (% of cohort)                                                         149
Survival to age 65, male (% of cohort)                                                           149
Tuberculosis case detection rate (%, all forms)                                                  149
Urban population (% of total population)                                                         149
dtype: int64

In [9]:
target_groups_df = pd.read_sql("SELECT distinct countryname,target_groups  from table9_2017", connection)
                              
target_groups_df.head()

   countryname     target_groups
0     Thailand   Extremely Happy
1         Iraq    Moderately Sad
2       Angola          Very Sad
3      Ireland   Extremely Happy
4  El Salvador  Moderately Happy

In [10]:
merged_df = pd.merge(pivot_df, target_groups_df 
                   ,left_on="countryname"
                   ,right_on = "countryname"
                   ,how="inner")

In [11]:
merged_df.head()

,countryname,"Birth rate, crude (per 1,000 people)",Employment in agriculture (% of total employment) (modeled ILO estimate),"Employment in agriculture, female (% of female employment) (modeled ILO estimate)","Employment in industry, female (% of female employment) (modeled ILO estimate)","Employment in services, female (% of female employment) (modeled ILO estimate)","Employment to population ratio, 15+, male (%) (modeled ILO estimate)",Fixed telephone subscriptions (per 100 people),GDP per capita (current US$),GDP per capita growth (annual %),...,Mobile cellular subscriptions (per 100 people),"Mortality rate, infant (per 1,000 live births)",Net migration,Rural population (% of total population),Secure Internet servers (per 1 million people),"Survival to age 65, female (% of cohort)","Survival to age 65, male (% of cohort)","Tuberculosis case detection rate (%, all forms)",Urban population (% of total population),target_groups
0,Afghanistan,33.211,43.988998,66.218002,24.278999,9.504000,66.950996,0.327222,556.302002,0.082079,...,65.929134,49.5,-314602.0,74.750,43.447835,67.574376,60.950303,68.0,25.250,Very Sad
1,Albania,11.934,38.203999,42.542000,15.132000,42.325001,55.379002,8.554284,4531.020806,3.897711,...,125.710352,8.0,-69998.0,40.617,443.020376,91.145395,84.702788,87.0,59.383,Moderately Sad
2,Algeria,24.846,10.160000,3.841000,24.360001,71.799004,60.862000,9.908341,4044.276600,-0.750500,...,110.767246,20.6,-50002.0,27.948,63.325702,85.829405,81.889538,80.0,72.052,Moderately Happy
3,Angola,41.281,50.557999,56.988998,1.134000,41.877998,73.719002,0.540199,4095.812942,-3.409903,...,44.686107,53.4,32066.0,35.161,10.799300,63.665746,50.634695,51.0,64.839,Very Sad
4,Argentina,17.205,0.059000,0.015000,9.166000,90.819000,67.257004,22.177975,14591.863380,1.609282,...,140.877124,9.3,24000.0,8.251,1628.591391,86.900558,76.722114,87.0,91.749,Extremely Happy

In [12]:
target = merged_df["target_groups"]
target.head()

0            Very Sad
1      Moderately Sad
2    Moderately Happy
3            Very Sad
4     Extremely Happy
Name: target_groups, dtype: object

In [13]:
target_names = pd.read_sql("SELECT distinct target_groups  from table9_2017", connection)
target_names

      target_groups
0   Extremely Happy
1         Apathetic
2  Moderately Happy
3    Moderately Sad
4          Very Sad

In [14]:
data = merged_df.drop(["target_groups","countryname"], axis=1)

In [15]:
feature_names = data.columns
data.head()

,"Birth rate, crude (per 1,000 people)",Employment in agriculture (% of total employment) (modeled ILO estimate),"Employment in agriculture, female (% of female employment) (modeled ILO estimate)","Employment in industry, female (% of female employment) (modeled ILO estimate)","Employment in services, female (% of female employment) (modeled ILO estimate)","Employment to population ratio, 15+, male (%) (modeled ILO estimate)",Fixed telephone subscriptions (per 100 people),GDP per capita (current US$),GDP per capita growth (annual %),"Incidence of tuberculosis (per 100,000 people)",...,Lifetime risk of maternal death (%),Mobile cellular subscriptions (per 100 people),"Mortality rate, infant (per 1,000 live births)",Net migration,Rural population (% of total population),Secure Internet servers (per 1 million people),"Survival to age 65, female (% of cohort)","Survival to age 65, male (% of cohort)","Tuberculosis case detection rate (%, all forms)",Urban population (% of total population)
0,33.211,43.988998,66.218002,24.278999,9.504000,66.950996,0.327222,556.302002,0.082079,189.0,...,3.063593,65.929134,49.5,-314602.0,74.750,43.447835,67.574376,60.950303,68.0,25.250
1,11.934,38.203999,42.542000,15.132000,42.325001,55.379002,8.554284,4531.020806,3.897711,20.0,...,0.026286,125.710352,8.0,-69998.0,40.617,443.020376,91.145395,84.702788,87.0,59.383
2,24.846,10.160000,3.841000,24.360001,71.799004,60.862000,9.908341,4044.276600,-0.750500,70.0,...,0.368716,110.767246,20.6,-50002.0,27.948,63.325702,85.829405,81.889538,80.0,72.052
3,41.281,50.557999,56.988998,1.134000,41.877998,73.719002,0.540199,4095.812942,-3.409903,359.0,...,1.451251,44.686107,53.4,32066.0,35.161,10.799300,63.665746,50.634695,51.0,64.839
4,17.205,0.059000,0.015000,9.166000,90.819000,67.257004,22.177975,14591.863380,1.609282,27.0,...,0.091957,140.877124,9.3,24000.0,8.251,1628.591391,86.900558,76.722114,87.0,91.749

In [16]:
data.count()

Birth rate, crude (per 1,000 people)                                                             149
Employment in agriculture (% of total employment) (modeled ILO estimate)                         149
Employment in agriculture, female (% of female employment) (modeled ILO estimate)                149
Employment in industry, female (% of female employment) (modeled ILO estimate)                   149
Employment in services, female (% of female employment) (modeled ILO estimate)                   149
Employment to population ratio, 15+, male (%) (modeled ILO estimate)                             149
Fixed telephone subscriptions (per 100 people)                                                   149
GDP per capita (current US$)                                                                     149
GDP per capita growth (annual %)                                                                 149
Incidence of tuberculosis (per 100,000 people)                                                   149
Individuals using the Internet (% of population)                                                 149
Labor force participation rate, total (% of total population ages 15+) (modeled ILO estimate)    149
Life expectancy at birth, female (years)                                                         149
Life expectancy at birth, male (years)                                                           149
Life expectancy at birth, total (years)                                                          149
Lifetime risk of maternal death (%)                                                              149
Mobile cellular subscriptions (per 100 people)                                                   149
Mortality rate, infant (per 1,000 live births)                                                   149
Net migration                                                                                    149
Rural population (% of total population)                                                         149
Secure Internet servers (per 1 million people)                                                   149
Survival to age 65, female (% of cohort)                                                         149
Survival to age 65, male (% of cohort)                                                           149
Tuberculosis case detection rate (%, all forms)                                                  149
Urban population (% of total population)                                                         149
dtype: int64

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [18]:
# Scale your data
# Import dependencies
from sklearn.preprocessing import LabelEncoder, MinMaxScaler,StandardScaler
from tensorflow.keras.utils import to_categorical

# scale the data
X_scaler =  MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y_train.values.ravel())
encoded_y_train = label_encoder.transform(y_train.values.ravel())
encoded_y_test = label_encoder.transform(y_test.values.ravel())

print(encoded_y_train)
print(encoded_y_test)

[1 3 1 1 3 2 3 4 4 1 2 2 3 1 2 4 1 0 1 0 0 3 2 3 1 4 3 3 3 4 1 3 2 3 1 0 3
 3 3 0 3 3 0 3 0 1 4 1 2 1 2 2 1 2 1 4 2 0 2 0 3 4 0 1 2 2 1 0 4 2 3 1 2 3
 2 1 4 0 4 2 1 0 2 0 3 3 1 0 2 4 0 1 1 1 4 3 4 1 1 2 2 2 3 2 4 3 3 1 4 0 0]
[3 4 3 0 0 4 1 1 2 4 0 1 0 2 1 4 3 0 4 0 0 3 4 4 2 2 2 0 3 2 4 3 1 0 3 0 1
 4]

In [19]:
# Support vector machine linear classifier
from sklearn.svm import SVC 
model = SVC(kernel='linear')
model.fit(X_train_scaled, encoded_y_train)

SVC(kernel='linear')

In [20]:
predictions = model.predict(X_test_scaled)
predictions

array([2, 2, 3, 3, 2, 3, 1, 1, 1, 4, 3, 1, 1, 1, 2, 3, 2, 2, 3, 3, 0, 3,
       3, 3, 2, 0, 2, 3, 4, 2, 4, 3, 1, 2, 3, 3, 1, 4])

In [21]:
print(f"Training Data Score: {model.score(X_train_scaled, encoded_y_train)}")
print(f"Testing Data Score: {model.score(X_test_scaled, encoded_y_test)}")

Training Data Score: 0.6756756756756757
Testing Data Score: 0.42105263157894735

In [22]:
# Calculate classification report
from sklearn.metrics import classification_report
print(classification_report(encoded_y_test, predictions,
                           target_names =["Extremely Happy","Moderately Happy","Apathetic","Moderately Sad","Very Sad"]))

                  precision    recall  f1-score   support

 Extremely Happy       0.50      0.10      0.17        10
Moderately Happy       0.62      0.83      0.71         6
       Apathetic       0.30      0.50      0.37         6
  Moderately Sad       0.29      0.57      0.38         7
        Very Sad       0.75      0.33      0.46         9

        accuracy                           0.42        38
       macro avg       0.49      0.47      0.42        38
    weighted avg       0.51      0.42      0.40        38

In [23]:
# Create the GridSearchCV model
# Create the GridSearch estimator along with a parameter object containing the values to adjust
from sklearn.model_selection import GridSearchCV
param_grid = {'C': [1, 5, 10],
              'gamma': [0.0001, 0.001, 0.01]}
grid = GridSearchCV(model, param_grid, verbose=3)

In [24]:
# Train the model with GridSearch
# Fit the model using the grid search estimator. 
# This will take the SVC model and try each combination of parameters
grid.fit(X_train_scaled, encoded_y_train)

Fitting 5 folds for each of 9 candidates, totalling 45 fits
[CV] C=1, gamma=0.0001 ...............................................
[CV] ................... C=1, gamma=0.0001, score=0.478, total=   0.0s
[CV] C=1, gamma=0.0001 ...............................................
[CV] ................... C=1, gamma=0.0001, score=0.727, total=   0.0s
[CV] C=1, gamma=0.0001 ...............................................
[CV] ................... C=1, gamma=0.0001, score=0.591, total=   0.0s
[CV] C=1, gamma=0.0001 ...............................................
[CV] ................... C=1, gamma=0.0001, score=0.409, total=   0.0s
[CV] C=1, gamma=0.0001 ...............................................
[CV] ................... C=1, gamma=0.0001, score=0.455, total=   0.0s
[CV] C=1, gamma=0.001 ................................................
[CV] .................... C=1, gamma=0.001, score=0.478, total=   0.0s
[CV] C=1, gamma=0.001 ................................................
[CV] .................... C=1, gamma=0.001, score=0.727, total=   0.0s
[CV] C=1, gamma=0.001 ................................................
[CV] .................... C=1, gamma=0.001, score=0.591, total=   0.0s
[CV] C=1, gamma=0.001 ................................................
[CV] .................... C=1, gamma=0.001, score=0.409, total=   0.0s
[CV] C=1, gamma=0.001 ................................................
[CV] .................... C=1, gamma=0.001, score=0.455, total=   0.0s
[CV] C=1, gamma=0.01 .................................................
[CV] ..................... C=1, gamma=0.01, score=0.478, total=   0.0s
[CV] C=1, gamma=0.01 .................................................
[CV] ..................... C=1, gamma=0.01, score=0.727, total=   0.0s
[CV] C=1, gamma=0.01 .................................................
[CV] ..................... C=1, gamma=0.01, score=0.591, total=   0.0s
[CV] C=1, gamma=0.01 .................................................
[CV] ..................... C=1, gamma=0.01, score=0.409, total=   0.0s
[CV] C=1, gamma=0.01 .................................................
[CV] ..................... C=1, gamma=0.01, score=0.455, total=   0.0s
[CV] C=5, gamma=0.0001 ...............................................
[CV] ................... C=5, gamma=0.0001, score=0.522, total=   0.0s
[CV] C=5, gamma=0.0001 ...............................................
[CV] ................... C=5, gamma=0.0001, score=0.682, total=   0.0s
[CV] C=5, gamma=0.0001 ...............................................
[CV] ................... C=5, gamma=0.0001, score=0.636, total=   0.0s
[CV] C=5, gamma=0.0001 ...............................................
[CV] ................... C=5, gamma=0.0001, score=0.455, total=   0.0s
[CV] C=5, gamma=0.0001 ...............................................
[CV] ................... C=5, gamma=0.0001, score=0.500, total=   0.0s
[CV] C=5, gamma=0.001 ................................................
[CV] .................... C=5, gamma=0.001, score=0.522, total=   0.0s
[CV] C=5, gamma=0.001 ................................................
[CV] .................... C=5, gamma=0.001, score=0.682, total=   0.0s
[CV] C=5, gamma=0.001 ................................................
[CV] .................... C=5, gamma=0.001, score=0.636, total=   0.0s
[CV] C=5, gamma=0.001 ................................................
[CV] .................... C=5, gamma=0.001, score=0.455, total=   0.0s
[CV] C=5, gamma=0.001 ................................................
[CV] .................... C=5, gamma=0.001, score=0.500, total=   0.0s
[CV] C=5, gamma=0.01 .................................................
[CV] ..................... C=5, gamma=0.01, score=0.522, total=   0.0s
[CV] C=5, gamma=0.01 .................................................
[CV] ..................... C=5, gamma=0.01, score=0.682, total=   0.0s
[CV] C=5, gamma=0.01 .................................................
[CV] ..................... C=5, gamma=0.01, score=0.636, total=   0.0s
[CV] C=5, gamma=0.01 .................................................
[CV] ..................... C=5, gamma=0.01, score=0.455, total=   0.0s
[CV] C=5, gamma=0.01 .................................................
[CV] ..................... C=5, gamma=0.01, score=0.500, total=   0.0s
[CV] C=10, gamma=0.0001 ..............................................
[CV] .................. C=10, gamma=0.0001, score=0.522, total=   0.0s
[CV] C=10, gamma=0.0001 ..............................................
[CV] .................. C=10, gamma=0.0001, score=0.636, total=   0.0s
[CV] C=10, gamma=0.0001 ..............................................
[CV] .................. C=10, gamma=0.0001, score=0.591, total=   0.0s
[CV] C=10, gamma=0.0001 ..............................................
[CV] .................. C=10, gamma=0.0001, score=0.318, total=   0.0s
[CV] C=10, gamma=0.0001 ..............................................
[CV] .................. C=10, gamma=0.0001, score=0.545, total=   0.0s
[CV] C=10, gamma=0.001 ...............................................

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    0.0s remaining:    0.0s

[CV] ................... C=10, gamma=0.001, score=0.522, total=   0.0s
[CV] C=10, gamma=0.001 ...............................................
[CV] ................... C=10, gamma=0.001, score=0.636, total=   0.0s
[CV] C=10, gamma=0.001 ...............................................
[CV] ................... C=10, gamma=0.001, score=0.591, total=   0.0s
[CV] C=10, gamma=0.001 ...............................................
[CV] ................... C=10, gamma=0.001, score=0.318, total=   0.0s
[CV] C=10, gamma=0.001 ...............................................
[CV] ................... C=10, gamma=0.001, score=0.545, total=   0.0s
[CV] C=10, gamma=0.01 ................................................
[CV] .................... C=10, gamma=0.01, score=0.522, total=   0.0s
[CV] C=10, gamma=0.01 ................................................
[CV] .................... C=10, gamma=0.01, score=0.636, total=   0.0s
[CV] C=10, gamma=0.01 ................................................
[CV] .................... C=10, gamma=0.01, score=0.591, total=   0.0s
[CV] C=10, gamma=0.01 ................................................
[CV] .................... C=10, gamma=0.01, score=0.318, total=   0.0s
[CV] C=10, gamma=0.01 ................................................
[CV] .................... C=10, gamma=0.01, score=0.545, total=   0.0s

[Parallel(n_jobs=1)]: Done  45 out of  45 | elapsed:    0.1s finished

GridSearchCV(estimator=SVC(kernel='linear'),
             param_grid={'C': [1, 5, 10], 'gamma': [0.0001, 0.001, 0.01]},
             verbose=3)

In [25]:
print(grid.best_params_)
print(grid.best_score_)

{'C': 5, 'gamma': 0.0001}
0.5588932806324111

In [26]:
# Make predictions with the hypertuned model
predictions_tuned = grid.predict(X_test_scaled)

In [27]:
print('Test Acc: %.3f' % grid.score(X_test_scaled, encoded_y_test))

Test Acc: 0.474

In [28]:
# Calculate classification report
from sklearn.metrics import classification_report
print(classification_report(encoded_y_test, predictions_tuned,
                           target_names =["Extremely Happy","Moderately Happy","Apathetic","Moderately Sad","Very Sad"]))

                  precision    recall  f1-score   support

 Extremely Happy       0.67      0.20      0.31        10
Moderately Happy       0.71      0.83      0.77         6
       Apathetic       0.36      0.67      0.47         6
  Moderately Sad       0.33      0.57      0.42         7
        Very Sad       0.60      0.33      0.43         9

        accuracy                           0.47        38
       macro avg       0.54      0.52      0.48        38
    weighted avg       0.55      0.47      0.46        38