In [1]:
from sklearn import tree
import pandas as pd
import os

In [2]:
# SQL Alchemy
from sqlalchemy import create_engine

In [3]:
# Create Engine for employee db
#engine = create_engine('postgres://sxwlsbsllohawb:4723d0dab89d2da6bf1aae12930fd6865874a185e4e4dca60e5af580ccd1a185@ec2-52-200-48-116.compute-1.amazonaws.com:5432/d7shhrp5hdjs4d')
engine = create_engine('postgresql://swain:db@localhost:5432/world_happiness')
connection = engine.connect()

In [4]:
indicators_df = pd.read_sql("SELECT * from table5_2017", connection)
                              
indicators_df.head()

,countryname,indicatorname,year_2017,target_groups
0,Afghanistan,Age dependency ratio (% of working-age populat...,86.000753,Very Sad
1,Afghanistan,"Birth rate, crude (per 1,000 people)",33.211000,Very Sad
2,Afghanistan,"Contributing family workers, female (% of fema...",68.609001,Very Sad
3,Afghanistan,"Employers, female (% of female employment) (mo...",2.186000,Very Sad
4,Afghanistan,"Employers, male (% of male employment) (modele...",2.730000,Very Sad

In [5]:
pivot_df = indicators_df.pivot(index='countryname', columns='indicatorname', values='year_2017')

In [6]:
pivot_df.head()

indicatorname,Age dependency ratio (% of working-age population),"Birth rate, crude (per 1,000 people)","Contributing family workers, female (% of female employment) (modeled ILO estimate)","Employers, female (% of female employment) (modeled ILO estimate)","Employers, male (% of male employment) (modeled ILO estimate)","Employers, total (% of total employment) (modeled ILO estimate)",Employment in agriculture (% of total employment) (modeled ILO estimate),"Employment in agriculture, female (% of female employment) (modeled ILO estimate)","Employment in industry, female (% of female employment) (modeled ILO estimate)",Employment in services (% of total employment) (modeled ILO estimate),...,Secure Internet servers (per 1 million people),"Self-employed, female (% of female employment) (modeled ILO estimate)","Self-employed, total (% of total employment) (modeled ILO estimate)",Sex ratio at birth (male births per female births),"Survival to age 65, female (% of cohort)","Survival to age 65, male (% of cohort)","Unemployment, female (% of female labor force) (modeled ILO estimate)","Unemployment, male (% of male labor force) (modeled ILO estimate)","Unemployment, total (% of total labor force) (modeled ILO estimate)",Urban population (% of total population)
countryname,,,,,,,,,,,,,,,,,,,,,
Afghanistan,86.000753,33.211,68.609001,2.186,2.730,2.620,43.988998,66.218002,24.278999,37.985001,...,43.447835,92.448998,82.449997,1.060,67.574376,60.950303,14.090,10.416,11.184,25.250
Albania,45.682097,11.934,38.580002,0.992,3.498,2.445,38.203999,42.542000,15.132000,42.444000,...,443.020376,55.702000,57.193001,1.086,91.145395,84.702788,12.563,14.590,13.750,59.383
Algeria,55.804001,24.846,2.419000,2.045,5.108,4.619,10.160000,3.841000,24.360001,58.848999,...,63.325702,25.400999,31.731001,1.050,85.829405,81.889538,21.114,10.021,11.996,72.052
Angola,96.820228,41.281,10.554000,2.560,5.876,4.219,50.557999,56.988998,1.134000,41.070999,...,10.799300,82.555000,70.625999,1.030,63.665746,50.634695,7.467,6.769,7.119,64.839
Argentina,56.046355,17.205,0.977000,2.461,4.822,3.834,0.059000,0.015000,9.166000,77.503998,...,1628.591391,21.454000,25.340000,1.040,86.900558,76.722114,9.464,7.527,8.347,91.749

In [7]:
pivot_df=pivot_df.dropna(how='any')

In [8]:
pivot_df.count()

indicatorname
Age dependency ratio (% of working-age population)                                               151
Birth rate, crude (per 1,000 people)                                                             151
Contributing family workers, female (% of female employment) (modeled ILO estimate)              151
Employers, female (% of female employment) (modeled ILO estimate)                                151
Employers, male (% of male employment) (modeled ILO estimate)                                    151
Employers, total (% of total employment) (modeled ILO estimate)                                  151
Employment in agriculture (% of total employment) (modeled ILO estimate)                         151
Employment in agriculture, female (% of female employment) (modeled ILO estimate)                151
Employment in industry, female (% of female employment) (modeled ILO estimate)                   151
Employment in services (% of total employment) (modeled ILO estimate)                            151
Employment in services, female (% of female employment) (modeled ILO estimate)                   151
Employment to population ratio, 15+, male (%) (modeled ILO estimate)                             151
Fertility rate, total (births per woman)                                                         151
GDP per capita (current US$)                                                                     151
Incidence of tuberculosis (per 100,000 people)                                                   151
Individuals using the Internet (% of population)                                                 151
Labor force participation rate, male (% of male population ages 15+) (modeled ILO estimate)      151
Labor force participation rate, total (% of total population ages 15+) (modeled ILO estimate)    151
Life expectancy at birth, female (years)                                                         151
Life expectancy at birth, male (years)                                                           151
Life expectancy at birth, total (years)                                                          151
Merchandise exports by the reporting economy (current US$)                                       151
Merchandise exports to high-income economies (% of total merchandise exports)                    151
Net migration                                                                                    151
Rural population (% of total population)                                                         151
Secure Internet servers (per 1 million people)                                                   151
Self-employed, female (% of female employment) (modeled ILO estimate)                            151
Self-employed, total (% of total employment) (modeled ILO estimate)                              151
Sex ratio at birth (male births per female births)                                               151
Survival to age 65, female (% of cohort)                                                         151
Survival to age 65, male (% of cohort)                                                           151
Unemployment, female (% of female labor force) (modeled ILO estimate)                            151
Unemployment, male (% of male labor force) (modeled ILO estimate)                                151
Unemployment, total (% of total labor force) (modeled ILO estimate)                              151
Urban population (% of total population)                                                         151
dtype: int64

In [9]:
target_groups_df = pd.read_sql("SELECT distinct countryname,target_groups  from table5_2017", connection)
                              
target_groups_df.head()

  countryname    target_groups
0      Angola         Very Sad
1     Ireland  Extremely Happy
2      Malawi         Very Sad
3      Rwanda         Very Sad
4     Denmark  Extremely Happy

In [10]:
merged_df = pd.merge(pivot_df, target_groups_df 
                   ,left_on="countryname"
                   ,right_on = "countryname"
                   ,how="inner")

In [11]:
merged_df.head()

,countryname,Age dependency ratio (% of working-age population),"Birth rate, crude (per 1,000 people)","Contributing family workers, female (% of female employment) (modeled ILO estimate)","Employers, female (% of female employment) (modeled ILO estimate)","Employers, male (% of male employment) (modeled ILO estimate)","Employers, total (% of total employment) (modeled ILO estimate)",Employment in agriculture (% of total employment) (modeled ILO estimate),"Employment in agriculture, female (% of female employment) (modeled ILO estimate)","Employment in industry, female (% of female employment) (modeled ILO estimate)",...,"Self-employed, female (% of female employment) (modeled ILO estimate)","Self-employed, total (% of total employment) (modeled ILO estimate)",Sex ratio at birth (male births per female births),"Survival to age 65, female (% of cohort)","Survival to age 65, male (% of cohort)","Unemployment, female (% of female labor force) (modeled ILO estimate)","Unemployment, male (% of male labor force) (modeled ILO estimate)","Unemployment, total (% of total labor force) (modeled ILO estimate)",Urban population (% of total population),target_groups
0,Afghanistan,86.000753,33.211,68.609001,2.186,2.730,2.620,43.988998,66.218002,24.278999,...,92.448998,82.449997,1.060,67.574376,60.950303,14.090,10.416,11.184,25.250,Very Sad
1,Albania,45.682097,11.934,38.580002,0.992,3.498,2.445,38.203999,42.542000,15.132000,...,55.702000,57.193001,1.086,91.145395,84.702788,12.563,14.590,13.750,59.383,Moderately Sad
2,Algeria,55.804001,24.846,2.419000,2.045,5.108,4.619,10.160000,3.841000,24.360001,...,25.400999,31.731001,1.050,85.829405,81.889538,21.114,10.021,11.996,72.052,Moderately Happy
3,Angola,96.820228,41.281,10.554000,2.560,5.876,4.219,50.557999,56.988998,1.134000,...,82.555000,70.625999,1.030,63.665746,50.634695,7.467,6.769,7.119,64.839,Very Sad
4,Argentina,56.046355,17.205,0.977000,2.461,4.822,3.834,0.059000,0.015000,9.166000,...,21.454000,25.340000,1.040,86.900558,76.722114,9.464,7.527,8.347,91.749,Extremely Happy

In [12]:
target = merged_df["target_groups"]
target.head()

0            Very Sad
1      Moderately Sad
2    Moderately Happy
3            Very Sad
4     Extremely Happy
Name: target_groups, dtype: object

In [13]:
target_names = pd.read_sql("SELECT distinct target_groups  from table5_2017", connection)
target_names

      target_groups
0   Extremely Happy
1         Apathetic
2  Moderately Happy
3    Moderately Sad
4          Very Sad

In [14]:
data = merged_df.drop(["target_groups","countryname"], axis=1)

In [15]:
feature_names = data.columns
data.head()

,Age dependency ratio (% of working-age population),"Birth rate, crude (per 1,000 people)","Contributing family workers, female (% of female employment) (modeled ILO estimate)","Employers, female (% of female employment) (modeled ILO estimate)","Employers, male (% of male employment) (modeled ILO estimate)","Employers, total (% of total employment) (modeled ILO estimate)",Employment in agriculture (% of total employment) (modeled ILO estimate),"Employment in agriculture, female (% of female employment) (modeled ILO estimate)","Employment in industry, female (% of female employment) (modeled ILO estimate)",Employment in services (% of total employment) (modeled ILO estimate),...,Secure Internet servers (per 1 million people),"Self-employed, female (% of female employment) (modeled ILO estimate)","Self-employed, total (% of total employment) (modeled ILO estimate)",Sex ratio at birth (male births per female births),"Survival to age 65, female (% of cohort)","Survival to age 65, male (% of cohort)","Unemployment, female (% of female labor force) (modeled ILO estimate)","Unemployment, male (% of male labor force) (modeled ILO estimate)","Unemployment, total (% of total labor force) (modeled ILO estimate)",Urban population (% of total population)
0,86.000753,33.211,68.609001,2.186,2.730,2.620,43.988998,66.218002,24.278999,37.985001,...,43.447835,92.448998,82.449997,1.060,67.574376,60.950303,14.090,10.416,11.184,25.250
1,45.682097,11.934,38.580002,0.992,3.498,2.445,38.203999,42.542000,15.132000,42.444000,...,443.020376,55.702000,57.193001,1.086,91.145395,84.702788,12.563,14.590,13.750,59.383
2,55.804001,24.846,2.419000,2.045,5.108,4.619,10.160000,3.841000,24.360001,58.848999,...,63.325702,25.400999,31.731001,1.050,85.829405,81.889538,21.114,10.021,11.996,72.052
3,96.820228,41.281,10.554000,2.560,5.876,4.219,50.557999,56.988998,1.134000,41.070999,...,10.799300,82.555000,70.625999,1.030,63.665746,50.634695,7.467,6.769,7.119,64.839
4,56.046355,17.205,0.977000,2.461,4.822,3.834,0.059000,0.015000,9.166000,77.503998,...,1628.591391,21.454000,25.340000,1.040,86.900558,76.722114,9.464,7.527,8.347,91.749

In [16]:
data.count()

Age dependency ratio (% of working-age population)                                               151
Birth rate, crude (per 1,000 people)                                                             151
Contributing family workers, female (% of female employment) (modeled ILO estimate)              151
Employers, female (% of female employment) (modeled ILO estimate)                                151
Employers, male (% of male employment) (modeled ILO estimate)                                    151
Employers, total (% of total employment) (modeled ILO estimate)                                  151
Employment in agriculture (% of total employment) (modeled ILO estimate)                         151
Employment in agriculture, female (% of female employment) (modeled ILO estimate)                151
Employment in industry, female (% of female employment) (modeled ILO estimate)                   151
Employment in services (% of total employment) (modeled ILO estimate)                            151
Employment in services, female (% of female employment) (modeled ILO estimate)                   151
Employment to population ratio, 15+, male (%) (modeled ILO estimate)                             151
Fertility rate, total (births per woman)                                                         151
GDP per capita (current US$)                                                                     151
Incidence of tuberculosis (per 100,000 people)                                                   151
Individuals using the Internet (% of population)                                                 151
Labor force participation rate, male (% of male population ages 15+) (modeled ILO estimate)      151
Labor force participation rate, total (% of total population ages 15+) (modeled ILO estimate)    151
Life expectancy at birth, female (years)                                                         151
Life expectancy at birth, male (years)                                                           151
Life expectancy at birth, total (years)                                                          151
Merchandise exports by the reporting economy (current US$)                                       151
Merchandise exports to high-income economies (% of total merchandise exports)                    151
Net migration                                                                                    151
Rural population (% of total population)                                                         151
Secure Internet servers (per 1 million people)                                                   151
Self-employed, female (% of female employment) (modeled ILO estimate)                            151
Self-employed, total (% of total employment) (modeled ILO estimate)                              151
Sex ratio at birth (male births per female births)                                               151
Survival to age 65, female (% of cohort)                                                         151
Survival to age 65, male (% of cohort)                                                           151
Unemployment, female (% of female labor force) (modeled ILO estimate)                            151
Unemployment, male (% of male labor force) (modeled ILO estimate)                                151
Unemployment, total (% of total labor force) (modeled ILO estimate)                              151
Urban population (% of total population)                                                         151
dtype: int64

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [18]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.42105263157894735

In [19]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.47368421052631576

In [20]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.050016909740878905, 'GDP per capita (current US$)'),
 (0.04830015252230768, 'Life expectancy at birth, total (years)'),
 (0.04591123562469729, 'Life expectancy at birth, female (years)'),
 (0.044431335815396295, 'Life expectancy at birth, male (years)'),
 (0.039718094805232654,
  'Employment in agriculture, female (% of female employment) (modeled ILO estimate)'),
 (0.037028633943009495, 'Survival to age 65, female (% of cohort)'),
 (0.03497156764340842,
  'Employment in services, female (% of female employment) (modeled ILO estimate)'),
 (0.03322184512706379, 'Secure Internet servers (per 1 million people)'),
 (0.03299453306098482, 'Survival to age 65, male (% of cohort)'),
 (0.03116707898061759,
  'Unemployment, male (% of male labor force) (modeled ILO estimate)'),
 (0.030637816640556127, 'Birth rate, crude (per 1,000 people)'),
 (0.03016349680526622, 'Individuals using the Internet (% of population)'),
 (0.029266695689248112,
  'Labor force participation rate, total (% of total population ages 15+) (modeled ILO estimate)'),
 (0.029212911878649016, 'Incidence of tuberculosis (per 100,000 people)'),
 (0.02886419379971082,
  'Employers, total (% of total employment) (modeled ILO estimate)'),
 (0.027877804814898686,
  'Unemployment, female (% of female labor force) (modeled ILO estimate)'),
 (0.02707854120727473,
  'Employment to population ratio, 15+, male (%) (modeled ILO estimate)'),
 (0.026116408626169593, 'Urban population (% of total population)'),
 (0.025693087356605956, 'Rural population (% of total population)'),
 (0.02552276193092816,
  'Employment in services (% of total employment) (modeled ILO estimate)'),
 (0.024314726622325276,
  'Unemployment, total (% of total labor force) (modeled ILO estimate)'),
 (0.024109032892091386,
  'Employment in industry, female (% of female employment) (modeled ILO estimate)'),
 (0.023699720398040733,
  'Employers, female (% of female employment) (modeled ILO estimate)'),
 (0.023675939182412356, 'Net migration'),
 (0.023404622619106568,
  'Employment in agriculture (% of total employment) (modeled ILO estimate)'),
 (0.023214448853306844,
  'Merchandise exports by the reporting economy (current US$)'),
 (0.022586053950400694,
  'Contributing family workers, female (% of female employment) (modeled ILO estimate)'),
 (0.022456831666320353,
  'Employers, male (% of male employment) (modeled ILO estimate)'),
 (0.021403417185430505,
  'Labor force participation rate, male (% of male population ages 15+) (modeled ILO estimate)'),
 (0.02124048974108797, 'Age dependency ratio (% of working-age population)'),
 (0.019989531463554006,
  'Self-employed, total (% of total employment) (modeled ILO estimate)'),
 (0.019788203238703454,
  'Merchandise exports to high-income economies (% of total merchandise exports)'),
 (0.01808610845220187, 'Fertility rate, total (births per woman)'),
 (0.017608049444059904,
  'Self-employed, female (% of female employment) (modeled ILO estimate)'),
 (0.016227718278053825, 'Sex ratio at birth (male births per female births)')]