In [1]:
from sklearn import tree
import pandas as pd
import os

In [2]:
# SQL Alchemy
from sqlalchemy import create_engine

In [3]:
# Create Engine for employee db
#engine = create_engine('postgres://sxwlsbsllohawb:4723d0dab89d2da6bf1aae12930fd6865874a185e4e4dca60e5af580ccd1a185@ec2-52-200-48-116.compute-1.amazonaws.com:5432/d7shhrp5hdjs4d')
engine = create_engine('postgresql://swain:db@localhost:5432/world_happiness')
connection = engine.connect()

In [4]:
indicators_df = pd.read_sql("SELECT * from table9_2017", connection)
                              
indicators_df.head()

,countryname,indicatorname,year_2017,target_groups
0,Afghanistan,"Birth rate, crude (per 1,000 people)",33.211000,Very Sad
1,Afghanistan,Employment in agriculture (% of total employme...,43.988998,Very Sad
2,Afghanistan,"Employment in agriculture, female (% of female...",66.218002,Very Sad
3,Afghanistan,"Employment in industry, female (% of female em...",24.278999,Very Sad
4,Afghanistan,"Employment in services, female (% of female em...",9.504000,Very Sad

In [5]:
pivot_df = indicators_df.pivot(index='countryname', columns='indicatorname', values='year_2017')

In [6]:
pivot_df.head()

indicatorname,"Birth rate, crude (per 1,000 people)",Employment in agriculture (% of total employment) (modeled ILO estimate),"Employment in agriculture, female (% of female employment) (modeled ILO estimate)","Employment in industry, female (% of female employment) (modeled ILO estimate)","Employment in services, female (% of female employment) (modeled ILO estimate)","Employment to population ratio, 15+, male (%) (modeled ILO estimate)",Fixed telephone subscriptions (per 100 people),GDP per capita (current US$),GDP per capita growth (annual %),"Incidence of tuberculosis (per 100,000 people)",...,Lifetime risk of maternal death (%),Mobile cellular subscriptions (per 100 people),"Mortality rate, infant (per 1,000 live births)",Net migration,Rural population (% of total population),Secure Internet servers (per 1 million people),"Survival to age 65, female (% of cohort)","Survival to age 65, male (% of cohort)","Tuberculosis case detection rate (%, all forms)",Urban population (% of total population)
countryname,,,,,,,,,,,,,,,,,,,,,
Afghanistan,33.211,43.988998,66.218002,24.278999,9.504000,66.950996,0.327222,556.302002,0.082079,189.0,...,3.063593,65.929134,49.5,-314602.0,74.750,43.447835,67.574376,60.950303,68.0,25.250
Albania,11.934,38.203999,42.542000,15.132000,42.325001,55.379002,8.554284,4531.020806,3.897711,20.0,...,0.026286,125.710352,8.0,-69998.0,40.617,443.020376,91.145395,84.702788,87.0,59.383
Algeria,24.846,10.160000,3.841000,24.360001,71.799004,60.862000,9.908341,4044.276600,-0.750500,70.0,...,0.368716,110.767246,20.6,-50002.0,27.948,63.325702,85.829405,81.889538,80.0,72.052
Angola,41.281,50.557999,56.988998,1.134000,41.877998,73.719002,0.540199,4095.812942,-3.409903,359.0,...,1.451251,44.686107,53.4,32066.0,35.161,10.799300,63.665746,50.634695,51.0,64.839
Argentina,17.205,0.059000,0.015000,9.166000,90.819000,67.257004,22.177975,14591.863380,1.609282,27.0,...,0.091957,140.877124,9.3,24000.0,8.251,1628.591391,86.900558,76.722114,87.0,91.749

In [7]:
pivot_df=pivot_df.dropna(how='any')

In [8]:
pivot_df.count()

indicatorname
Birth rate, crude (per 1,000 people)                                                             149
Employment in agriculture (% of total employment) (modeled ILO estimate)                         149
Employment in agriculture, female (% of female employment) (modeled ILO estimate)                149
Employment in industry, female (% of female employment) (modeled ILO estimate)                   149
Employment in services, female (% of female employment) (modeled ILO estimate)                   149
Employment to population ratio, 15+, male (%) (modeled ILO estimate)                             149
Fixed telephone subscriptions (per 100 people)                                                   149
GDP per capita (current US$)                                                                     149
GDP per capita growth (annual %)                                                                 149
Incidence of tuberculosis (per 100,000 people)                                                   149
Individuals using the Internet (% of population)                                                 149
Labor force participation rate, total (% of total population ages 15+) (modeled ILO estimate)    149
Life expectancy at birth, female (years)                                                         149
Life expectancy at birth, male (years)                                                           149
Life expectancy at birth, total (years)                                                          149
Lifetime risk of maternal death (%)                                                              149
Mobile cellular subscriptions (per 100 people)                                                   149
Mortality rate, infant (per 1,000 live births)                                                   149
Net migration                                                                                    149
Rural population (% of total population)                                                         149
Secure Internet servers (per 1 million people)                                                   149
Survival to age 65, female (% of cohort)                                                         149
Survival to age 65, male (% of cohort)                                                           149
Tuberculosis case detection rate (%, all forms)                                                  149
Urban population (% of total population)                                                         149
dtype: int64

In [9]:
target_groups_df = pd.read_sql("SELECT distinct countryname,target_groups  from table9_2017", connection)
                              
target_groups_df.head()

   countryname     target_groups
0     Thailand   Extremely Happy
1         Iraq    Moderately Sad
2       Angola          Very Sad
3      Ireland   Extremely Happy
4  El Salvador  Moderately Happy

In [10]:
merged_df = pd.merge(pivot_df, target_groups_df 
                   ,left_on="countryname"
                   ,right_on = "countryname"
                   ,how="inner")

In [11]:
merged_df.head()

,countryname,"Birth rate, crude (per 1,000 people)",Employment in agriculture (% of total employment) (modeled ILO estimate),"Employment in agriculture, female (% of female employment) (modeled ILO estimate)","Employment in industry, female (% of female employment) (modeled ILO estimate)","Employment in services, female (% of female employment) (modeled ILO estimate)","Employment to population ratio, 15+, male (%) (modeled ILO estimate)",Fixed telephone subscriptions (per 100 people),GDP per capita (current US$),GDP per capita growth (annual %),...,Mobile cellular subscriptions (per 100 people),"Mortality rate, infant (per 1,000 live births)",Net migration,Rural population (% of total population),Secure Internet servers (per 1 million people),"Survival to age 65, female (% of cohort)","Survival to age 65, male (% of cohort)","Tuberculosis case detection rate (%, all forms)",Urban population (% of total population),target_groups
0,Afghanistan,33.211,43.988998,66.218002,24.278999,9.504000,66.950996,0.327222,556.302002,0.082079,...,65.929134,49.5,-314602.0,74.750,43.447835,67.574376,60.950303,68.0,25.250,Very Sad
1,Albania,11.934,38.203999,42.542000,15.132000,42.325001,55.379002,8.554284,4531.020806,3.897711,...,125.710352,8.0,-69998.0,40.617,443.020376,91.145395,84.702788,87.0,59.383,Moderately Sad
2,Algeria,24.846,10.160000,3.841000,24.360001,71.799004,60.862000,9.908341,4044.276600,-0.750500,...,110.767246,20.6,-50002.0,27.948,63.325702,85.829405,81.889538,80.0,72.052,Moderately Happy
3,Angola,41.281,50.557999,56.988998,1.134000,41.877998,73.719002,0.540199,4095.812942,-3.409903,...,44.686107,53.4,32066.0,35.161,10.799300,63.665746,50.634695,51.0,64.839,Very Sad
4,Argentina,17.205,0.059000,0.015000,9.166000,90.819000,67.257004,22.177975,14591.863380,1.609282,...,140.877124,9.3,24000.0,8.251,1628.591391,86.900558,76.722114,87.0,91.749,Extremely Happy

In [12]:
target = merged_df["target_groups"]
target.head()

0            Very Sad
1      Moderately Sad
2    Moderately Happy
3            Very Sad
4     Extremely Happy
Name: target_groups, dtype: object

In [13]:
target_names = pd.read_sql("SELECT distinct target_groups  from table9_2017", connection)
target_names

      target_groups
0   Extremely Happy
1         Apathetic
2  Moderately Happy
3    Moderately Sad
4          Very Sad

In [14]:
data = merged_df.drop(["target_groups","countryname"], axis=1)

In [15]:
feature_names = data.columns
data.head()

,"Birth rate, crude (per 1,000 people)",Employment in agriculture (% of total employment) (modeled ILO estimate),"Employment in agriculture, female (% of female employment) (modeled ILO estimate)","Employment in industry, female (% of female employment) (modeled ILO estimate)","Employment in services, female (% of female employment) (modeled ILO estimate)","Employment to population ratio, 15+, male (%) (modeled ILO estimate)",Fixed telephone subscriptions (per 100 people),GDP per capita (current US$),GDP per capita growth (annual %),"Incidence of tuberculosis (per 100,000 people)",...,Lifetime risk of maternal death (%),Mobile cellular subscriptions (per 100 people),"Mortality rate, infant (per 1,000 live births)",Net migration,Rural population (% of total population),Secure Internet servers (per 1 million people),"Survival to age 65, female (% of cohort)","Survival to age 65, male (% of cohort)","Tuberculosis case detection rate (%, all forms)",Urban population (% of total population)
0,33.211,43.988998,66.218002,24.278999,9.504000,66.950996,0.327222,556.302002,0.082079,189.0,...,3.063593,65.929134,49.5,-314602.0,74.750,43.447835,67.574376,60.950303,68.0,25.250
1,11.934,38.203999,42.542000,15.132000,42.325001,55.379002,8.554284,4531.020806,3.897711,20.0,...,0.026286,125.710352,8.0,-69998.0,40.617,443.020376,91.145395,84.702788,87.0,59.383
2,24.846,10.160000,3.841000,24.360001,71.799004,60.862000,9.908341,4044.276600,-0.750500,70.0,...,0.368716,110.767246,20.6,-50002.0,27.948,63.325702,85.829405,81.889538,80.0,72.052
3,41.281,50.557999,56.988998,1.134000,41.877998,73.719002,0.540199,4095.812942,-3.409903,359.0,...,1.451251,44.686107,53.4,32066.0,35.161,10.799300,63.665746,50.634695,51.0,64.839
4,17.205,0.059000,0.015000,9.166000,90.819000,67.257004,22.177975,14591.863380,1.609282,27.0,...,0.091957,140.877124,9.3,24000.0,8.251,1628.591391,86.900558,76.722114,87.0,91.749

In [16]:
data.count()

Birth rate, crude (per 1,000 people)                                                             149
Employment in agriculture (% of total employment) (modeled ILO estimate)                         149
Employment in agriculture, female (% of female employment) (modeled ILO estimate)                149
Employment in industry, female (% of female employment) (modeled ILO estimate)                   149
Employment in services, female (% of female employment) (modeled ILO estimate)                   149
Employment to population ratio, 15+, male (%) (modeled ILO estimate)                             149
Fixed telephone subscriptions (per 100 people)                                                   149
GDP per capita (current US$)                                                                     149
GDP per capita growth (annual %)                                                                 149
Incidence of tuberculosis (per 100,000 people)                                                   149
Individuals using the Internet (% of population)                                                 149
Labor force participation rate, total (% of total population ages 15+) (modeled ILO estimate)    149
Life expectancy at birth, female (years)                                                         149
Life expectancy at birth, male (years)                                                           149
Life expectancy at birth, total (years)                                                          149
Lifetime risk of maternal death (%)                                                              149
Mobile cellular subscriptions (per 100 people)                                                   149
Mortality rate, infant (per 1,000 live births)                                                   149
Net migration                                                                                    149
Rural population (% of total population)                                                         149
Secure Internet servers (per 1 million people)                                                   149
Survival to age 65, female (% of cohort)                                                         149
Survival to age 65, male (% of cohort)                                                           149
Tuberculosis case detection rate (%, all forms)                                                  149
Urban population (% of total population)                                                         149
dtype: int64

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [18]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.42105263157894735

In [19]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.5526315789473685

In [20]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.06061726811523649, 'Life expectancy at birth, male (years)'),
 (0.060124760494189335, 'Life expectancy at birth, total (years)'),
 (0.058788553641558806,
  'Employment in services, female (% of female employment) (modeled ILO estimate)'),
 (0.05799367348528758, 'Life expectancy at birth, female (years)'),
 (0.0574888753380035, 'GDP per capita (current US$)'),
 (0.05002779407325834,
  'Employment in agriculture, female (% of female employment) (modeled ILO estimate)'),
 (0.04563324713226713, 'Survival to age 65, female (% of cohort)'),
 (0.04517073199748583, 'Rural population (% of total population)'),
 (0.041431029558620734, 'Mobile cellular subscriptions (per 100 people)'),
 (0.04090882486703594,
  'Employment in industry, female (% of female employment) (modeled ILO estimate)'),
 (0.03839978476959044, 'Urban population (% of total population)'),
 (0.037665376947660124, 'Mortality rate, infant (per 1,000 live births)'),
 (0.03636356027854517, 'Incidence of tuberculosis (per 100,000 people)'),
 (0.035587929177302115,
  'Labor force participation rate, total (% of total population ages 15+) (modeled ILO estimate)'),
 (0.03531530973486504, 'Fixed telephone subscriptions (per 100 people)'),
 (0.03366607607192699,
  'Employment to population ratio, 15+, male (%) (modeled ILO estimate)'),
 (0.03293810034502261, 'Survival to age 65, male (% of cohort)'),
 (0.03278042109164395, 'Secure Internet servers (per 1 million people)'),
 (0.03178775484963686, 'Individuals using the Internet (% of population)'),
 (0.03117520603186293, 'Birth rate, crude (per 1,000 people)'),
 (0.03041596026952014,
  'Employment in agriculture (% of total employment) (modeled ILO estimate)'),
 (0.02838971739930373, 'Lifetime risk of maternal death (%)'),
 (0.026229710084151987, 'Tuberculosis case detection rate (%, all forms)'),
 (0.02570718332164432, 'GDP per capita growth (annual %)'),
 (0.025393150924380024, 'Net migration')]

In [21]:
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical

X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)


# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

# Step 2: Convert encoded labels to one-hot-encoding
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

In [22]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

model = Sequential()
model.add(Dense(units=100, activation='relu', input_dim=25))
model.add(Dense(units=100, activation='relu'))
model.add(Dense(units=5, activation='softmax'))

In [23]:
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=60,
    shuffle=True,
    verbose=0
)

ValueError: Error when checking input: expected dense_input to have shape (35,) but got array with shape (25,)

In [ ]:
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(
    f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")